@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap");

.App {
  font-family: "Playfair Display", serif;
  text-align: center;
}

body {
  background-color: rgb(247, 185, 185);
}

.inputEmo {
  height: 2rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 4rem;
}

h3 {
  margin-top: 3rem;
}
